body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-size: cover;
    background-color: #9b6e9abd;
    margin: 0px;
}

.right {
    /* float: left; */
    width: 15%;
    text-align: center;
    background-color: #9b6e9abd;
}

.left {
    background-color: #9b6e9abd;
    float: left;
    width: 15%;
}

#card {
    width: 70%;
    background-color: #fffdfdc9;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.76), 60px 60px 60px rgba(0, 0, 0, 0.76);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

.imgHeader {
    border-radius: 0px;
    background-size: cover;
    width: 100%;
    /* width: 900px; */
    /* margin-bottom: 20px; */
    /* position: sticky; */
}

.name {
    font-family: Bradley Hand, cursive;
    font-size: 30px;
    font-style: italic;
    color: #763568;
    -webkit-text-stroke: 1px black;
}

#description {
    font-family: Snell Roundhand, cursive;
    font-style: italic;
    font-size: 16px;
}

.navbar {
    border-top: 2px dashed #574f55;
    border-bottom: 2px dashed #574f55;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* display: flex;
    flex-wrap: nowrap; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(209, 204, 204, 0.788);
}

.nav li {
    float: left;
    font-weight: 800;
}

.nav li a {
    display: block;
    color: #763568;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #bd7caf;
}

#pic {
    width: 270px;
    height: 370px;
}

.sec-3 {
    display: grid;
    grid-template-columns: 70% auto;
}

#about {
    width: auto;
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

.aboutPic {
    width: 100%;
    margin-top: 5%;
}

.btn {
    width: 90%;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: #9c508c;
    border-radius: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
}

#achievements {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    padding-bottom: 10px;
    margin-left: 10px;
}

#achievements a {
    color: rgb(58, 58, 155);
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

#achievements a:hover {
    color: #8b6782;
}

.titles {
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: #763568;
    -webkit-text-stroke: 1px black;
}

.flowerPoints {
    list-style: none;
    padding-left: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

.flowerPoints li {
    position: relative;
    padding-left: 20px;
}

.flowerPoints li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/flower-2460948-2129175.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#contact {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5%;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
    width: 100%;
    margin-top: 5%;
}

#social_media {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 5%;
    justify-content: center;
    margin-bottom: 5%;
}

.books {
    width: 200px;
    height: 250px;
    border: 1px solid black;
}

#books_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
}

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    .nav {
        grid-template-columns: auto;
    }
    #achievements a {
        color: rgb(58, 58, 155);
        font-size: 2.5vw;
    }
    .flowerPoints li {
        font-size: 3vw;
    }
    #contact {
        grid-template-columns: auto;
        font-size: 2.5vw;
    }
    /* #social_media {
        grid-template-columns: auto auto;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {
    .nav {
        grid-template-columns: auto auto auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .nav {
        grid-template-columns: auto auto auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .nav {
        grid-template-columns: auto auto auto auto auto auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    .nav {
        grid-template-columns: auto auto auto auto auto auto;
    }
}

#education {
    width: auto;
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

#skills {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    padding-bottom: 10px;
    margin-left: 10px;
}

progress {
    border-radius: 7px;
    width: 70%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: rgb(190, 190, 185);
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #763568;
    border-radius: 7px;
}

#interests {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

#qoutes {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

#footer {
    width: auto;
    font-weight: 700;
    font-style: italic;
    background: #a15892;
    text-align: right;
    color: rgb(8, 8, 8);
    padding: 15px;
}

.icons {
    justify-self: center;
    height: 40px;
}

.infoIcons {
    justify-self: center;
    height: 30px;
}

#sec-9 {
    justify-self: center;
    text-align: center;
    justify-content: center;
    border: 1px dashed #763568;
    background-color: rgb(226, 225, 225);
}
.websites{
    background-color: rgba(202, 149, 202, 0.295);
    padding: 1%;
    margin: 2%;
    border-radius: 5%;
    height: auto;
}