body {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-size: cover;
    background-color: #9b6e9abd;
    margin: 0px;
}

.right {
    float: left;
    width: 15%;
    text-align: center;
    background-color: #9b6e9abd;
}

.left {
    background-color: #9b6e9abd;
    float: left;
    width: 15%;
}

#card {
    width: 70%;
    /* display: grid; */
    /* grid-template-rows: 40% 30% 6% 40% auto; */
    background-color: #fffdfdc9;
    /* width: 900px; */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.76), 0 30px 60px rgba(0, 0, 0, 0.76);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

.imgHeader {
    border-radius: 0px;
    background-size: cover;
    width: 100%;
    /* width: 900px; */
    /* margin-bottom: 20px; */
    /* position: sticky; */
}

.name {
    font-family: Bradley Hand, cursive;
    font-size: 30px;
    font-style: italic;
    color: #763568;
    -webkit-text-stroke: 1px black;
}

#description {
    font-family: Snell Roundhand, cursive;
    font-style: italic;
    font-size: 16px;
}

.navbar {
    /* grid-area: 3; */
    /* height: 50px; */
    border-top: 2px dashed #574f55;
    border-bottom: 2px dashed #574f55;
}

.nav {
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto; */
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(209, 204, 204, 0.788);
}

.nav li {
    float: left;
    font-weight: 800;
}

.nav li a {
    display: block;
    color: #763568;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #bd7caf;
}

.aside {
    width: 100%;
    background-color: lightgray;
    /* height: 90%; */
    /* border-radius: 20px; */
}

#pic {
    width: 270px;
    height: 370px;
}

.sec-3 {
    display: grid;
    grid-template-columns: 70% auto;
}

#about {
    width: auto;
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

.btn {
    width: 90%;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: #9c508c;
    border-radius: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
}

#contact {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-size: 50vw; */
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
    width: 100%;
    background-color: lightgray;
    /* height: 220px; */
    margin-top: 10%;
    border-radius: 10%;
}

#achievements {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

#achievements a {
    color: rgb(58, 58, 155);
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

#achievements a:hover {
    color: #8b6782;
}

.titles {
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: #763568;
    -webkit-text-stroke: 1px black;
}

.flowerPoints {
    list-style: none;
    padding-left: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

.flowerPoints li {
    position: relative;
    padding-left: 20px;
}

.flowerPoints li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/flower-2460948-2129175.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 500px) {
    /* #contact {
        font-size: 1.3vw;
    }
    .nav {
        grid-template-columns: auto;
    } */
    #achievements a {
        color: rgb(58, 58, 155);
        font-size: 2.5vw;
    }
    .flowerPoints li {
        font-size: 3vw;
    }
}

@media screen and (max-width: 410px) {
    .flowerPoints li {
        font-size: 3vw;
    }
}

@media screen and (min-width: 500px) {
    #contact {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 970px) {
    .nav {
        flex-wrap: wrap;
    }
}

#education {
    width: auto;
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

#skills {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

progress {
    border-radius: 7px;
    width: 70%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: rgb(190, 190, 185);
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #763568;
    border-radius: 7px;
}

#interests {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

.books {
    width: 200px;
    height: 250px;
    border: 1px solid black;
}

#qoutes {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

#footer {
    width: auto;
    font-weight: 700;
    font-style: italic;
    background: #763568;
    text-align: right;
    color: rgb(8, 8, 8);
    padding: 15px;
}