body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-color: #9b6e9abd;
    margin: 0px;
    backdrop-filter: blur(5px);
}

#card {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    /* grid-template-rows: 12.5% 1% 5% 5% 10% 11% 17%; */
    background-color: #fffdfdc9;
    width: 900px;
    height: 800vh;
    border-radius: 5px;
    grid-area: 2;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.76), 0 30px 60px rgba(0, 0, 0, 0.76);
}

#sec-1 {
    width: 100%;
    height: 700px;
}

#bio {
    width: 100%;
    height: 2 00px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}

.imgHeader {
    border-radius: 0px;
    background-size: cover;
    width: 900px;
    /* margin-bottom: 20px; */
    /* position: sticky; */
}

.name {
    font-family: Bradley Hand, cursive;
    font-size: 30px;
    font-style: italic;
    color: #763568;
    -webkit-text-stroke: 1px black;
}

#description {
    font-family: Snell Roundhand, cursive;
    font-style: italic;
    font-size: 16px;
}

.navbar {
    /* height: 50px; */
    border-top: 2px dashed #574f55;
    border-bottom: 2px dashed #574f55;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 195, 195);
}

.nav li {
    float: left;
    font-weight: 800;
}

.nav li a {
    display: block;
    color: #763568;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #bd7caf;
}

.aside {
    width: 100%;
    background-color: lightgray;
    height: 90%;
}

#pic {
    width: 270px;
    height: 370px;
}

.sec-3 {
    display: grid;
    grid-template-columns: 70% auto;
}

#about {
    width: auto;
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    margin-left: 10px;
    /* border-bottom: 2px dashed #574f55; */
    /* padding-bottom: 10px; */
    /* height: 100vh; */
}

.btn {
    width: 90%;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: #763568;
    border-radius: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black;
    font-weight: 800;
}

#contact {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: black;
    font-weight: 600;
    padding-bottom: 50px;
}

#education {
    width: auto;
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

#skills {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

#achievements {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

#achievements a {
    color: rgb(58, 58, 155);
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

#achievements a:hover {
    color: #8b6782;
}

@media screen and (min-width: 480px) {
    body {
        color: rgb(58, 58, 155);
        font-size: 10px;
    }
}

progress {
    width: 70%;
    height: 20px;
    color: #758382;
}

.titles {
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #763568;
    -webkit-text-stroke: 1px black;
}

#interests {
    padding: 5px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: black;
    /* border-bottom: 2px dashed #574f55; */
    padding-bottom: 10px;
    margin-left: 10px;
}

.books {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}